.banda{
    padding: 30px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card{
    margin: 20px;
}

.banda h1{
    text-align: center;
    
}

span{
    font-family: $rock;
}


