.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card{
    margin: 20px;
}

.banda h1{
    text-align: center;
    font-size: 35px;
    padding-top: 25px;

}

@media (min-width:1000px) {

    .banda h1{
        font-size: 55px;
        padding-top: 30px;

    }

}

