.contacte h1 {
  margin: 30px;
  font-size: 35px;
  text-align: center;
}

@media (min-width: 1000px) {
  .contacte {
    margin: 50px;
  }

  .contacte h1 {
    font-size: 55px;
  }
}

/* Estils formulari */
.formulariC {
  margin: 10px;
}

.formulariC label {
  padding-bottom: 7px;
  font-size: 20px;
}

.but-contact {
  margin-bottom: 5px;
}

/* Fi estils formulari */

/* Estils mètodes de contacte */
.dadesC {
  margin: 15px;
}

.dadesC h2 {
  padding: 15px;
}

.dadesC .card {
  width: 25rem;
  margin: 0 auto;
}

.dadesC i {
  padding-right: 10px;
}

@media (min-width: 1000px) {
  .dadesC {
    margin: 25px;
  }

  .dadesC .card {
    margin-left: 15px;
  }
}

/* Fi estils mètodes de contacte */
