.news img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* Estils notícies */
.noticies {
  padding: 25px 5px;
}

.noticies h1 {
  font-size: 35px;
  text-align: center;
}

.noticies p {
  padding: 0 15px;
}

/* Fi estils notícies */

/* Estils concerts */
.concerts {
  padding: 25px 5px;
}

.date {
  padding-right: 8px;
}

.badge {
  margin-left: 8px;
}

.badge a {
  font-family: 'Courier New', Courier, monospace;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}

/* Fi estils concerts */

@media (min-width: 1000px) {
  .news h1 {
    font-size: 55px;
  }

  .concerts {
    padding: 50px;
  }
}
