.news{
    padding: 30px;
}

.news h1{
    text-align: center;
    padding-bottom: 30px;
}

.news img{
    max-width: 100%;
    height: auto;
    
}

.badge a{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}

.badge a:hover{
    color: red;
}
