@use 'sass:color';

$font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue',
  arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Georgia', 'Times New Roman', serif;
$rock: 'New Rocker', cursive;

$black: #000;
$white: #fff;
$green: #daf7a6;
$red: #fc1b35;
$orange: #fc751a;
$gray: #d3cccc;
$uoc-bg: color.scale($orange, $lightness: 25%);

$theme-colors: (
  'light':#daf7a6,
  'dark': $black
);
